@font-face {
  	font-family: 'Superspace';
  	//src: url(Superspace/Superspace Regular ver 1.00.ttf)  format('truetype');
	src: url(Superspace/Superspace_Light.ttf);
  	
	//unicode-range: U+0E00–U+0E7F;
}
body{
	font-family: 'Superspace', sans-serif;
	font-size: 18px;
}